
*{box-sizing: border-box;}


body{background-color: white;
    font-family: Arial; Helvetica, sans-serif;
    margin: 0;
}

nav a{color:black;
text-decoration: none;
text-transform: uppercase;
font-weight:bold;

}


ul{
    list-style: none;
    padding: 0;
    background-color:white;
    margin-top: 0;
}


#logo{
    height: 40px;
}

#menu{
    background: transparent;
    border: none
}

header{
    height: 64px;
    display: flex;
    justify-content: space-between;
}
header nav{
    display: none;
}
.show{
    display: block;
    position: absolute;
    top: 64px;
    background: white;
    width: 100%;
    height: calc(100vh - 64px);
    display: flex;
    align-items: center;
   justify-content: center;

}

.show li {
    margin: 1rem 0;
    text-align: center;
}

.overflow{
    overflow: hidden;
}

.button{
    background:white;
    color: black;
    text-transform: uppercase;
    padding: 10px;
    border: 1.5px solid #374a67;
    border-radius: 8px;
    text-decoration: none;
    color: #374a67;
    font-weight: bold;
    -webkit-box-shadow: 10px 9px 14px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 9px 14px -7px rgba(0,0,0,0.75);
box-shadow: 10px 9px 14px -7px rgba(0,0,0,0.75);
transition: all 0.4s ease;
    margin-top: 2rem;
    display: inline-block;

}

input{ background:white;
    color: black;
    padding: 10px;
    border-color: #04122b;
    border-radius: 4px;


}

.button:hover{
    background: #374a67;
    color: white;
}

.card h3 a{
    color: #333;
    text-decoration: none;
}

.card p a{
color: #828282;
text-decoration: none;
padding: 0 1rem;
padding: block;
}

.button-blue{
    background: #374a67;
    color: white;
    margin-bottom: 1rem;
    display: block;


}

.button-blue:hover{
    background:white;
    color: #374a67;
    }

.card img{
    width: 100%;
    }

.card{
    box-shadow: 0px 4px 6px -0px rgba(0,0,0,0.75);
    border-radius: 4px;
    text-align: center;
    margin: 1rem;
    overflow: hidden;
}

#recepte{
    text-align: center;
}

#newsletter{
background: #04122b;
color: white;
text-align: center;
padding: 2rem 1rem;
}

h2 span{
    display: block;
}





#hero{
    background-image:linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 96%), url(img/intro.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: center;

}

.social ul {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    margin-top: 2rem;
}

footer{
    text-align: center;
    padding: 2rem 0;
}
 
.social li{
    margin: 0 1rem;
}

@media(min-width:768px){
    header nav{
    display: block;
}
#menu{
    display: none;
}
nav ul {
    display: flex;
 
}
nav li{
    margin: 8px;
}

.row{
    display: flex;
}

footer{
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    align-self: ;
}
}


    

